<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>mi fromulario</title>
    <LInk rel="icon" href="/public/img/icono-corazon-rosa-elemento-aislado-sobre-fondo-blanco_541075-1090.avif">
</head>
<body>
    <!--header-->
    <header>
        <div>
            <h1>KUROMI</h1>
            <H2>Todas las noticias sobre KUROMI</H2>
        </div>
    </header>
<!-- navbar -->
<nav class="navbar">
    <a href="index.html">inicio</a>
    <a href="public/views/notocias.html">noticias</a>
    <a href="https://ar.pinterest.com/marialuciacueva/kuromi/">pinterest</a>
    <a href="public/views/formulario.html">registro</a>
    </nav>
  
    
    <!--formulario-->
    <form action="">
        <fieldset>
            <legend>formulario de registro</legend>
            <label for="nombre">nombre</label>
            <input type="text" name="name" id="nombre">
            <label for="apellido">apellido</label>
            <input type="text" name="lname" id="apellido">
            <label for="email">email</label>
            <input type="email" name="email" id="email">
            <label for="pass">contraseña</label>
            <input type="password" name="contraseña" id="pass">
            <label for="fecha">fecha de nacimiento</label>
            <input type="date" name="date" id="fecha">
            <input type="submit" value="REGISTRARSE">
            <input type="reset" value="BORRAR">
        </fieldset>
    </form>
</body>
</html>